<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Add a new car</h1>

    <h4>
        Add a Car:
    </h4>
    <form method="POST" action="/users/addUser">
        <div>
            <label for="car">
                Car Name: 
            </label>
            <input type="text" id="userName" name="userName" />
        </div>
        <div>
            <label for="model">
                Model: 
            </label>
            <input type="text" id="model" name="model" />
        </div>
        <button type="submit">
            Add a Car
        </button>
    </form>

    
</body>
</html>